@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>DAB Restaurant Search Engine </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to DAB Restaurant</h2>
        <p>
            DAB Restaurant offers a
        </p>
    </div>
</div>